@charset "UTF-8";

@media screen and (max-width: 768px) {
    menu > ul > li > a {
        border-radius: 0px;
    }
}

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-block;
        padding-left: 15px;
    }

    main {
        width: 768px;
    }
}

